* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --local_color--: #333333;
}

header {
  width: 100%;
  background: var(--local_color--);
  position: fixed;
  top: 0;
}

header nav {
  width: 40%;
  margin: auto;
  padding: 15px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a,
.sidebar ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li,
.sidebar ul li {
  list-style: none;
}

header nav ul a:hover,
.sidebar ul li a:hover {
  color: whitesmoke;
  text-decoration: underline;
  transition: 1s;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background: var(--local_color--);
  padding: 2%;
  position: fixed;
  top: 5%;
}

.sidebar ul {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar h1 {
  color: white;
  margin-bottom: 15px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.content {
  width: 70%;
  margin: 5% 25%;
}

.box {
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
}

.box h1 {
  text-align: start;
  margin-bottom: 20px;
  color: var(--local_color--);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .container img {
  width: 150px;
  height: auto;
  background-color: green;
  margin-right: 25px;
  border-radius: 50%;
}

main .container p {
  color: var(--local_color--);
}

.project_box {
  width: 32%;
  padding: 25px 15px;
  border-radius: 10px;
}

.project_box h3 {
  margin-bottom: 10px;
  color: var(--local_color--);
}

.box_1 {
  background-color: #add8e6;
}

.box_2 {
  background-color: #d68080;
}

.box_3 {
  background-color: #adee90;
}

.projects .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
}

.projects .container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.container table {
  width: 100%;
}

.container table {
  border-radius: 200px;
}
.container table td,
.container table th {
  padding: 10px;
  text-align: start;
}
.container table tr:nth-child(1) {
  background-color: var(--local_color--);
}
